{% extends 'base.html' %}

{% block title %}Create Sale{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-8">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                    <div><a href="{% url 'add_new_product' %}" class="btn btn-outline-primary w-100">Add New Item</a></div>
                    <div><a href="#" class="btn btn-outline-primary w-100">Update Stock</a></div>
                    <div><a href="#" class="btn btn-outline-danger w-100">SAVE Sale</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
        </div>
    </div>
</div>
{% endblock %}

